.map {
	width: 100%;
	height: 100%;
}

.body {
	width: 100%;
	height: 300px;
}

.temp_pic {
	width: 150px;
	height:250px;
	display: block;
	margin-left: 950px;
	margin-right: auto;
	position: absolute;
	z-index:1;	
}
table {
  margin-left: 100px
  text-align: center;
  border-collapse: collapse;
  border: 1px;
}
 
tr:nth-child(even) {
  background: rgba(212, 212, 212, 0.8)
  /*background: #d4d4d4;*/
}
tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.8)
  /*background: #ffffff;*/
}
th, td {
  padding: 10px 30px;
}
 
th {
  border-bottom: 1px solid #d4d4d4;
}

tr.TransparentRows{
	background: rgba(255, 255, 255, 0.0)
}

thead.Transparent{
	background: rgba(255, 255, 255, 0.0)
}

.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border:none;
	cursor: pointer;
	opacity: 1;
}

.dropbtn:hover, .dropbtn:focus{
	background-color: #2980B9;
}

.dropbtn{

	position:relative;
	display: inline-block;
	
}

.dropdown{
	/*top:0px;*/
	/*left: 1100px;*/
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	right: 30px;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#highlight {
    background: #ff6666;
}

#highlightVolt{
    background: #ffd800;
}
.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.bodyBack {
           
            width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-image: url('adventure-calm-clouds-414171.jpg');
            background-size:100% 100%;
            background-repeat: no-repeat;
}

.mapHead {
	background-color:transparent
}

div.bottomElement{
padding-bottom: 100px;
}
